		<section id="team">
			<div class="containerCards">
        <% @friends.each do |friend| %>
          <div class="containerCard">
            <div class="card">
                <% if friend.avatar.attached? %>
                  <%= cl_image_tag friend.avatar.key, class:"img-fluid rounded-circle", alt:"Card image cap", crop: :fill %>
                <% else %>
                  <%=image_tag('user.png')%>
                <% end %>
                <h3><%= friend.name.capitalize%></h3>
                <h5>Age: <%=((Time.zone.now - friend.birthday .to_time) / 1.year.seconds).floor%> years</h5>
                <h5>Birthday: <%=friend.birthday.strftime("%B %d, %Y")%></h5>
                <h5>Max Gift Price: <%=friend.max_price%> $</h5>
                <%# <h5>Preference: <%=friend.preferences $</h5> %>
            </div>
          </div>
        <% end %>
			</div>
		</section>
