<div>
  <%= simple_form_for @friend do |f|  %>
    <%= f.input :name, input_html: { class: 'teste' }, label: false %>
    <%= f.input :max_price, as: :decimal %>
    <%= f.input :birthday, as: :date %>
    <%= f.input :phone_number, as: :string%>
    <%= f.button :submit %>
  <% end %>
</div>
