
<section class="container">
  <div>
    <h2 class="title-new text-center my-4"> Add a Special Date</h2>
    <div  class="form-style">
      <%= simple_form_for @friend, html: { class: 'label-new' } do |f|  %>
        <%= f.input :name, input_html: { class: ''}, label: "Friend name" %>
        <%= f.input :max_price, as: :decimal %>
        <%= f.input :birthday, as: :date %>
        <%= f.input :phone_number, as: :string %>
        <%= f.input :product_categories, collection: ProductCategory::CATEGORIES %>
        <div class="buttons-new">
          <%= f.input :photo, as: :file, input_html: { class: 'd-none' },
          label_html:  { class: 'upload-photo button-new'}, label: '📷 Upload a photo' %>
          <%= f.button :submit, input_html: { class: 'upload-photo'}  %>
        </div>
      <% end %>
    </div>
  </div>
</section>
