<section class="home-section">
  <h1><span class="home-detail"> You're</span></h1>
  <h1 class="main-title mb-5"> Unforgettable!</h1>
  <div class="set">
    <div><img class="family" src="<%= image_path("family1.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family2.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family3.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family4.jpg")%>"></div>
  </div>
  <div class="set set2">
    <div><img class="family" src="<%= image_path("family5.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family6.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family7.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family8.jpg")%>"></div>
  </div>
  <div class="set set3">
    <div><img class="family" src="<%= image_path("family9.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family10.jpg")%>"></div>
    <div><img class="family" src="<%= image_path("family1.jpg")%>"></div>
     <div><img class="family" src="<%= image_path("family8.jpg")%>"></div>
  </div>
</section>
