<div class="login-container">
      <div class="left-col">
      </div>
      <div class="right-col">
        <div class="row justify-content-center">
          <div class ="col-md-8">
            <h2>Log in</h2>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email,
                            label: 'E-mail',
                            label_html: { class: 'label-new' },
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            label: 'Password',
                            label_html: { class: 'label-new' },
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, label_html: { class: 'label-new' }, as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="form-actions text-center">
                <%= f.button :submit, "Log in", class: "btn-login" %>

              </div>
            <% end %>
            <%= render "devise/shared/links" %>
            </div>
          </div>
    </div>
</div>
